<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Password DB</title>
    <meta name="description" content="PASSWORD DB">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/webpass.js') }}"></script>
</head>
<body>
    <div id="center">
        <div id="menu">
            <a href="#" onclick="forefront('groups');">groups</a> | <a href="#" onclick="allSecretClick()">all secrets</a> | <a href="#" onclick="logOut()" >logout</a> | <a href="#" onclick="createSecretClick()" >new secret</a>
            <hr/>
        </div>
        <div id="search">
            <form id="search_form" >

                <label for="search_bar"><b>Search</b></label>
                <input id="search_input" type="text"  name="search_bar" required>
                <button type="submit" onclick="searchSecretClick()">Submit</button>
            </form>
            <hr/>
            <br/>
            <br/>
        </div>
        <div id="content">
            <div id="login">
                 <h2>LOGIN</h2>
                 <form id="login_form">
                      <div class="container">

                        <label ><b>Password</b></label>
                        <input id="pw_field" type="password" placeholder="Enter Password" required>

                        <button onclick="logIn()" type="submit">Login</button>
                      </div>
                 </form>
            </div>
            <div hidden id="edit">
             <h3>Secret Details</h3>
             <form id="edit_form">
                <table>
                    <tr id="group_row">
                        <td><label><b>Group</b></label></td>
                        <td>
                            <select id="edit_group_field" name="group" >
                                <option disabled selected value> -- select a group -- </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label><b>Title</b></label></td>
                        <td><input id="edit_title_field" type="text" value="" size="29"></td>
                    </tr>
                    <tr>
                        <td><label><b>Username</b></label></td>
                        <td><input id="edit_username_field" type="text" value="" size="29"></td>
                    </tr>
                    <tr>
                        <td><label><b>Password</b></label></td>
                        <td><input id="edit_pw_field" type="text" value="" size="29"></td>
                    </tr>
                    <tr>
                        <td><label><b>URL</b></label></td>
                        <td><input id="edit_url_field" type="text" value="" size="29"></td>
                    </tr>
                    <tr>
                        <td><label><b>Notes</b></label></td>
                        <td><textarea id="edit_notes_field" rows="10" cols="30"></textarea></td>
                    </tr>
                </table>
                <button id="edit_button" type="button">Submit</button>
             </form>
            </div>
            <div hidden id="groups">
                <h2>Groups</h2>
                <ul id="group_ul">
                    <li>empty</li>
                </ul>
            </div>
            <div hidden id="secret_list">
                <h2>Secrets</h2>
                <table id="secret_table">
                    <tr>
                        <th>Title</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                </table>
            </div>
            <div hidden id="secret">
                <h2>Secret</h2>
                <div id="secret_content">
                </div>
            </div>
            <div hidden id="loading">
                <h2>Loading. Please wait.</h2>
            </div>
        </div>
    </div>
</body>
</html>