<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Password DB</title>
    <meta name="description" content="PASSWORD DB">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/webpass.js') }}"></script>
</head>
<body>
    <div id="center">
        <div id="menu">
            <a href="#" onclick="forefront('groups');">groups</a> | <a href="#" onclick="allSecretClick()">all secrets</a> | <a href="#" onclick="logOut()" >logout</a>
            <hr/>
        </div>
        <div id="search">
            <form id="search_form" >

                <label for="search_bar"><b>Search</b></label>
                <input id="search_input" type="text"  name="search_bar" required>
                <button type="submit" onclick="searchSecretClick()">Submit</button>
            </form>
            <hr/>
            <br/>
            <br/>
        </div>
        <div id="content">
            <div id="login">
                 <h2>LOGIN</h2>
                 <form id="login_form">
                      <div class="container">

                        <label ><b>Password</b></label>
                        <input id="pw_field" type="password" placeholder="Enter Password" required>

                        <button onclick="logIn()" type="submit">Login</button>
                      </div>
                 </form>
            </div>
            <div hidden id="groups">
                <h2>Groups</h2>
                <ul id="group_ul">
                    <li>empty</li>
                </ul>
            </div>
            <div hidden id="secret_list">
                <h2>Secrets</h2>
                <table id="secret_table">
                    <tr>
                        <th>Title</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                </table>
            </div>
            <div hidden id="secret">
                <h2>Secret</h2>
                <div id="secret_content"></div>
            </div>
        </div>
    </div>
</body>
</html>