body {
    background-color: #f9f06b;
}

#center {
  margin: auto;
  width: 75%;
  border: 3px solid green;
  padding: 10px;
  background-color: #fdface;
  text-align: center;
}

#login_form{
    text-align: center;
}

#menu{
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
  text-align: left;
}

